In [26]:
import numpy as np # linear algebra
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 12, 4
#import warnings
#warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_columns', 100)
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

##from subprocess import check_output
##print(check_output(["ls","C:/Users/Miloni Mittal/Desktop/Winter Project/AllFiles"]).decode("utf8"))

In [27]:
#reading the csv file
reviews = pd.read_csv('../AllFiles/yelp_reviews.csv')

In [28]:
reviews.head(5)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,26-01-2011,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,27-07-2011,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,14-06-2012,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,27-05-2010,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,05-01-2012,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [29]:
#checking if there are missing values
reviews.isnull().sum()

business_id    0
date           0
review_id      0
stars          0
text           0
type           0
user_id        0
cool           0
useful         0
funny          0
dtype: int64

In [30]:
#checking if there are duplicate reviews
reviews.review_id.duplicated().sum()

148

In [31]:
#reference  reviews[reviews.business_id=="_1QQZuf4zZOyFCvXc0o6Vg"].stars.mean()

In [32]:
#converting lower case and removing punctuations
reviews.text = reviews.text.str.lower()
reviews['removed_punct_text'] = reviews.text.str.replace('\n','').str.replace('[!"#$%&\()*+,-./:;<=>?@[\\]^_`{|}~]','')

In [33]:
#loading easy words list
import csv
easy_words_open = open('../AllFiles/DaleChallEasyWordsList.txt')
reader =csv.reader(easy_words_open)
easy_words = [word[0] for word in reader]
easy_words = [element.lower() for element in easy_words]

In [34]:
#counting number of words
def func(reviewx):
    words=reviewx.split()
    words_count = len(words)
    return words_count
reviews["words"] = reviews.removed_punct_text.apply(func)
reviews.head(5)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny,removed_punct_text,words
0,9yKzy9PApeiPPOUJEtnvkg,26-01-2011,fWKvX83p0-ka4JS3dc6E5A,5,my wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0,my wife took me here on my birthday for breakf...,152
1,ZRJwVLyzEJq1VAihDhYiow,27-07-2011,IjZ33sJrzXqU-0X6U8NwyA,5,i have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0,i have no idea why some people give bad review...,255
2,6oRAC4uyJCsJl1X0WZpVSA,14-06-2012,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. rice is so good and i als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0,love the gyro plate rice is so good and i also...,15
3,_1QQZuf4zZOyFCvXc0o6Vg,27-05-2010,G-WvGaISbqqaMHlNnByodA,5,"rosie, dakota, and i love chaparral dog park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0,rosie dakota and i love chaparral dog park it'...,74
4,6ozycU1RpktNG2-1BroVtw,05-01-2012,1uJFq2r5QfJG_6ExMRCaGw,5,general manager scott petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0,general manager scott petello is a good egg no...,83

In [35]:
#counting number of sentences
reviews["sentences"] = reviews.text.str.count("." or "?" or "!")
reviews.head(5)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny,removed_punct_text,words,sentences
0,9yKzy9PApeiPPOUJEtnvkg,26-01-2011,fWKvX83p0-ka4JS3dc6E5A,5,my wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0,my wife took me here on my birthday for breakf...,152,883
1,ZRJwVLyzEJq1VAihDhYiow,27-07-2011,IjZ33sJrzXqU-0X6U8NwyA,5,i have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0,i have no idea why some people give bad review...,255,1341
2,6oRAC4uyJCsJl1X0WZpVSA,14-06-2012,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. rice is so good and i als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0,love the gyro plate rice is so good and i also...,15,76
3,_1QQZuf4zZOyFCvXc0o6Vg,27-05-2010,G-WvGaISbqqaMHlNnByodA,5,"rosie, dakota, and i love chaparral dog park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0,rosie dakota and i love chaparral dog park it'...,74,415
4,6ozycU1RpktNG2-1BroVtw,05-01-2012,1uJFq2r5QfJG_6ExMRCaGw,5,general manager scott petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0,general manager scott petello is a good egg no...,83,467

In [36]:
#finding number of easy words
def func2(reviewx):
    words = len([word for word in reviewx.split() if word in easy_words])
    return words
reviews["easy_words"] = reviews.removed_punct_text.apply(func2)
reviews.head(5)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny,removed_punct_text,words,sentences,easy_words
0,9yKzy9PApeiPPOUJEtnvkg,26-01-2011,fWKvX83p0-ka4JS3dc6E5A,5,my wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0,my wife took me here on my birthday for breakf...,152,883,117
1,ZRJwVLyzEJq1VAihDhYiow,27-07-2011,IjZ33sJrzXqU-0X6U8NwyA,5,i have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0,i have no idea why some people give bad review...,255,1341,204
2,6oRAC4uyJCsJl1X0WZpVSA,14-06-2012,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. rice is so good and i als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0,love the gyro plate rice is so good and i also...,15,76,13
3,_1QQZuf4zZOyFCvXc0o6Vg,27-05-2010,G-WvGaISbqqaMHlNnByodA,5,"rosie, dakota, and i love chaparral dog park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0,rosie dakota and i love chaparral dog park it'...,74,415,48
4,6ozycU1RpktNG2-1BroVtw,05-01-2012,1uJFq2r5QfJG_6ExMRCaGw,5,general manager scott petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0,general manager scott petello is a good egg no...,83,467,64

In [37]:
#finding the Dale Chall's index
reviews["DaleChall_index"] = (0.1579*(100*(reviews.words-reviews.easy_words))/(reviews.words))+(0.0496*(reviews.words/reviews.sentences)+3.6365)
reviews.head(5)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny,removed_punct_text,words,sentences,easy_words,DaleChall_index
0,9yKzy9PApeiPPOUJEtnvkg,26-01-2011,fWKvX83p0-ka4JS3dc6E5A,5,my wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0,my wife took me here on my birthday for breakf...,152,883,117,7.280893
1,ZRJwVLyzEJq1VAihDhYiow,27-07-2011,IjZ33sJrzXqU-0X6U8NwyA,5,i have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0,i have no idea why some people give bad review...,255,1341,204,6.803932
2,6oRAC4uyJCsJl1X0WZpVSA,14-06-2012,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. rice is so good and i als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0,love the gyro plate rice is so good and i also...,15,76,13,5.751623
3,_1QQZuf4zZOyFCvXc0o6Vg,27-05-2010,G-WvGaISbqqaMHlNnByodA,5,"rosie, dakota, and i love chaparral dog park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0,rosie dakota and i love chaparral dog park it'...,74,415,48,9.193182
4,6ozycU1RpktNG2-1BroVtw,05-01-2012,1uJFq2r5QfJG_6ExMRCaGw,5,general manager scott petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0,general manager scott petello is a good egg no...,83,467,64,7.259894

In [38]:
#finding if usefulness depends on Dale Chall's index
stval = reviews.groupby('stars').mean()
stval.corr()
#correlation between Dale Chall index and number of people finding it useful is negative which means higher the index the lesser useful it is

,cool,useful,funny,words,sentences,easy_words,DaleChall_index
cool,1.000000,-0.743329,-0.944939,-0.866965,-0.858336,-0.875826,0.805742
useful,-0.743329,1.000000,0.894506,0.699879,0.701026,0.700485,-0.535418
funny,-0.944939,0.894506,1.000000,0.848995,0.844341,0.854478,-0.762619
words,-0.866965,0.699879,0.848995,1.000000,0.999815,0.999815,-0.969833
sentences,-0.858336,0.701026,0.844341,0.999815,1.000000,0.999264,-0.969242
easy_words,-0.875826,0.700485,0.854478,0.999815,0.999264,1.000000,-0.969455
DaleChall_index,0.805742,-0.535418,-0.762619,-0.969833,-0.969242,-0.969455,1.000000

In [39]:
### Sentiment analysis for positive or negative review

reviews['pos_neg']=["pos" if x>=3 else "neg" for x in reviews['stars']]
reviews.head(5)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny,removed_punct_text,words,sentences,easy_words,DaleChall_index,pos_neg
0,9yKzy9PApeiPPOUJEtnvkg,26-01-2011,fWKvX83p0-ka4JS3dc6E5A,5,my wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0,my wife took me here on my birthday for breakf...,152,883,117,7.280893,pos
1,ZRJwVLyzEJq1VAihDhYiow,27-07-2011,IjZ33sJrzXqU-0X6U8NwyA,5,i have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0,i have no idea why some people give bad review...,255,1341,204,6.803932,pos
2,6oRAC4uyJCsJl1X0WZpVSA,14-06-2012,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. rice is so good and i als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0,love the gyro plate rice is so good and i also...,15,76,13,5.751623,pos
3,_1QQZuf4zZOyFCvXc0o6Vg,27-05-2010,G-WvGaISbqqaMHlNnByodA,5,"rosie, dakota, and i love chaparral dog park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0,rosie dakota and i love chaparral dog park it'...,74,415,48,9.193182,pos
4,6ozycU1RpktNG2-1BroVtw,05-01-2012,1uJFq2r5QfJG_6ExMRCaGw,5,general manager scott petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0,general manager scott petello is a good egg no...,83,467,64,7.259894,pos

In [40]:
## import positive file which contains common meaningless positive words such as good
file_positive = open('../AllFiles/positive.txt')
reader =csv.reader(file_positive)
positive_words = [word[0] for word in reader]

## import negative file which contains common meaningless positive words such as bad
file_negative = open('../AllFiles/negative.txt')
reader =csv.reader(file_negative)
negative_words = [word[0] for word in reader]

In [41]:
# making separate table of useful information
table=reviews[['removed_punct_text','pos_neg']]

In [42]:
#keeping only the words which are in positive or negative words list
def filter_words(review):
    words = [word for word in review.split() if word in positive_words + negative_words]
    words = ' '.join(words)
    return words
table.removed_punct_text = table.removed_punct_text.apply(filter_words)

C:\Users\Miloni Mittal\Anaconda3\ANACONDA\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [43]:
#vectorizing the words
x = table['removed_punct_text']
y = table['pos_neg']
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
x=vectorizer.fit_transform(x)

In [44]:
#splitting into testing and training data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=101)

In [45]:
#applying SVM
from sklearn.svm import LinearSVC
svm = LinearSVC()
svm.fit(x_train, y_train)
#finding the predicted values of test reviews
y_pred_svm = svm.predict(x_test)
from sklearn.metrics import accuracy_score
print("SVM Accuracy Score -> ",accuracy_score(y_pred_svm, y_test)*100)

C:\Users\Miloni Mittal\Anaconda3\ANACONDA\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

SVM Accuracy Score ->  87.3

In [46]:
#applying Bayes model
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(x_train, y_train)
y_predict_naive = nb.predict(x_test)
print("Naive Bayes Accuracy Score -> ",accuracy_score(y_predict_naive, y_test)*100)

Naive Bayes Accuracy Score ->  88.5